<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Motosing Webform 3/3</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    integrity="sha512-1yJx7Gp58XzPf7+B+mnvHcI/Q+JeGZJqxSdeLjgbvEJQyAXlF+4gr4Jfv4A4w6+RuJRGZD+Y/ZTF/HdoJGBx6w=="
    crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/webform.css') }}" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
    integrity="sha512-R9Trz5U6fdOvZwHKCp+IaP8uyA6fNdnQ0B2Pb+k9M4/4zSPk0Tj7hTPEHuMV8/E7r1alAr+JG7xu40Ht8s7zgQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"
    integrity="sha512-qoCTmFwBtCPvFhA+WAqatSOrghwpDhFHxwAGh+cppWonXbHA09nG1z5zi4/NGnp8dUhXiVrzA6EnKgJA+fyrpw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    const showingHiddenDiv = (target) => {
      const hiddenDiv = document.querySelectorAll(".employmentstatus");

      hiddenDiv.forEach((div) => {
        if (target.value != ' ' && target.value != '' && target.value != null && target.value != 'student') {
          div.style.display = 'block';
        } else {
          div.style.display = 'none';
        }
      });
    };


  </script>
</head>

<body>
  <form class="g-3" id="myForm" method="POST" action="{{ url_for('submit') }}" enctype="multipart/form-data">
    <div id="listitem">
      <div class="list-container container">
        <div class="d-flex align-items-center w-100 justify-content-center mt-5">
          <img class="img-fluid image" height="100" width="100" src="../static/motosing_logo.png" alt="logo">
        </div>
        <div class="row">
          <div class="col-sm-5 text-center">
              <h2 class="fw-bold">Working Information</h2>
          </div>
          <div class="col-sm-7">
              <hr style="height: 5px;background-color: black;opacity: 1;" class="rounded">
          </div>
        </div>
        <div class="list-gap">
          <div class="fs-5">Employment Status <span style="color:red;padding-left:0.25rem">*</span></div>
          <div class="input-group mb-3">
            <select class="form-select" id="employment-status" required name="employmentStatus"
              onchange="showingHiddenDiv(this)" data-question="1">
              <option selected></option>
              <option value="employed">employed</option>
              <option value="self-employed">self-employed</option>
              <option value="other">other</option>
            </select>
          </div>
          <div class="list-gap">
            <div class="form-group d-none card card-body" id="container-for-employed">
              <label class="fs-5" for="add-container0">Employed Status <span style="color:red;padding-left:0.25rem">*</span></label>
              <div style="font-size:14px;padding-top:8px">If you are Employed please click on an
                option</div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="NemployedStatus" value="governmentEmployee"
                  id="option0">
                <label class="form-check-label" for="option0">
                  government employee
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="NemployedStatus" value="privateSector" id="option1">
                <label class="form-check-label" for="option1">
                  private sector
                </label>
              </div>
            </div>
          </div>
          <div class="list-gap">
            <div class="form-group d-none card card-body" id="container-for-self-employed">
              <label class="fs-5" for="add-container0">Self-Employed Status <span
                  style="color:red;padding-left:0.25rem">*</span></label>
              <div style="font-size:14px;padding-top:8px">If you are Self-Employed please click on an
                option</div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="selfEmployedStatus" value="freeLance" id="option2">
                <label class="form-check-label" for="option2">
                  freelance
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="selfEmployedStatus" value="ownBusiness" id="option3">
                <label class="form-check-label" for="option3">
                  Owner of a business / working for yourself
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="selfEmployedStatus" value="other" id="option4">
                <label class="form-check-label" for="option4">
                  other
                </label>
                <div class="form-group d-none card card-body" id="container-for-other-self-employed-status">
                  <label>Other Self-Employed Status <span style="color:red;padding-left:0.25rem">*</span></label>
                  <input type="text" class="form-control" id="other-container0" name="selfEmployedOther" value="yes"
                    placeholder="Your Answer">
                </div>
              </div>
            </div>
          </div>
          <div class="list-gap">
            <div class="form-group d-none card card-body" id="container-for-other-employment-status">
              <label for="add-container0">Other Income Source <span
                  style="color:red;padding-left:0.25rem">*</span></label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="otherIncomeSource" value="insurance" id="option5">
                <label class="form-check-label" for="option5">
                  insurance
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="otherIncomeSource" value="directSell" id="option6">
                <label class="form-check-label" for="option6">
                  direct selling
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="otherIncomeSource" value="freeLance" id="option7">
                <label class="form-check-label" for="option7">
                  freelance
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="otherIncomeSource" value="yes" id="option8">
                <label class="form-check-label" for="option8">
                  other
                </label>
              </div>
              <div class="form-group d-none card card-body" id="container-for-other-income-source">
                <label>Other than these 3: <span style="color:red;padding-left:0.25rem">*</span></label>
                <input type="text" class="form-control" id="other-container1" name="otherIncomeSourceOther"
                  placeholder="Your Answer">
              </div>
            </div>
          </div>
        </div>
        <div class="list-gap employmentstatus">
          <div class="fs-5">Position <span style="color:red;padding-left:0.25rem">*</span></div>
          <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect01" name="position" required>
              <option selected></option> 
              <optgroup label="A"></optgroup>
              <option value="admin">admin</option>
              <optgroup label="F"></optgroup>
              <option value="factory worker">factory worker</option>
              <optgroup label="G"></optgroup>
              <option value="general worker">general worker</option>
              <option value="general manager / assistant general manager">general manager / assistant
                general manager</option>
              <optgroup label="M"></optgroup>              
              <option value="manager / supervisor">manager / supervisor</option>
              <option value="managing director">managing director</option>
              <option value="waiter / waitress">waiter / waitress</option>
              <optgroup label="O"></optgroup>              
              <option value="officer / executive">officer / executive</option>
              <optgroup label="P"></optgroup>              
              <option value="pensioner / retiree">pensioner / retiree</option>
              <option value="professional ( lawyer, doctor )">professional ( lawyer, doctor )</option>
              <optgroup label="S"></optgroup>              
              <option value="saleman / promoter">saleman / promoter</option>
              <option value="skill worker ( technician / nurse )">skill worker ( technician / nurse )
              </option>
              <optgroup label="T"></optgroup>              
              <option value="teacher / lecture">teacher / lecture</option>
              <optgroup label=""></optgroup>
              <option value="other">other</option>
            </select>
          </div>
        </div>
        <div class="list-gap otherPosition">
          <div>Other Position <span style="color:red;padding-left:0.25rem">*</span></div>
          <div class="input-group mb-3">
              <input class="form-control" name="otherPosition" placeholder="Your Answer"/>
          </div>
        </div>
        <div class="list-gap employmentstatus">
          <div class="fs-5">Department <span style="color:red;padding-left:0.25rem">*</span></div>
          <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect01" name="department" required>
              <option selected></option>
              <optgroup label="A"></optgroup>
              <option value="account">account</option>
              <option value="admin">admin</option>
              <optgroup label="C"></optgroup>
              <option value="clerk">clerk</option>
              <option value="collection">collection</option>
              <option value="construction">construction</option>
              <optgroup label="I"></optgroup>
              <option value="IT">IT</option>
              <optgroup label="M"></optgroup>
              <option value="management">management</option>
              <optgroup label="P"></optgroup>
              <option value="production">production</option>
              <optgroup label="S"></optgroup>
              <option value="sales">sales</option>
              <option value="services">services</option>
              <optgroup label="T"></optgroup>
              <option value="technical">technical</option>
              <optgroup label=""></optgroup>
              <option value="other">other</option>
            </select>
          </div>
        </div>
        <div class="list-gap">
          <div class="fs-5">Company/Self-Employed Business Nature <span style="color:red;padding-left:0.25rem">*</span>
          </div>
          <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect01" name="businessNature" data-question="2" disabled
              onchange="checkValue(event)" required>
              <option selected></option>
              <optgroup label="A"></optgroup>
              <option value="administrator / support services">administrator / support services
              </option>
              <option value="agriculture">agriculture</option>
              <option value="arts / entertainment / recreation">arts / entertainment / recreation
              </option>
              <optgroup label="B"></optgroup>
              <option value="banking / finance">banking / finance</option>
              <optgroup label="C"></optgroup>
              <option value="construction">construction</option>
              <optgroup label="E"></optgroup>
              <option value="education">education</option>
              <option value="extraterritorial organization and bodies">extraterritorial organization
                and bodies</option>
              <option value="electrical">electrical</option>
              <optgroup label="G"></optgroup>
              <option value="government">government</option>
              <optgroup label="H"></optgroup>
              <option value="healthcare">healthcare</option>
              <optgroup label="I"></optgroup>
              <option value="investment">investment</option>
              <option value="IT / research / development">IT / research / development</option>
              <optgroup label="L"></optgroup>
              <option value="logistic">logistic</option>
              <optgroup label="M"></optgroup>
              <option value="manufacturing">manufacturing</option>
              <option value="mass media">mass media</option>
              <option value="mining / quarrying">mining / quarrying</option>
              <optgroup label="O"></optgroup>
              <option value="other services activities">other services activities</option>
              <optgroup label="P"></optgroup>
              <option value="production of domestic / personal services">production of domestic /
                personal services</option>
              <optgroup label="R"></optgroup>
              <option value="retail / wholesale">retail / wholesale</option>
              <optgroup label="S"></optgroup>
              <option value="service line ( hotel, restaurants )">service line ( hotel, restaurants )
              </option>
              <optgroup label="W"></optgroup>
              <option value="water supply / sewerage / waste management">water supply / sewerage /
                waste management</option>
              <optgroup label=""></optgroup>
              <option value="other">other</option>
            </select>
            <input type="text" class="form-control others" />
          </div>
          <div class="list-gap">
            <div class="fs-5">Company Name <span style="color:red;padding-left:0.25rem">*</span></div>
            <div class="fs-6" style="padding-top:8px">All in Caps and must be full name as per
              registered</div>
            <div class="abc">
              <div class="def">
                <input class="form-control uppercase" name="companyName" placeholder="Your Answer" data-question="3"
                  disabled />
              </div>
            </div>
          </div>
          <div class="list-gap">
            <div class="fs-5">Company Phone Number <span style="color:red;padding-left:0.25rem">*</span></div>
            <div class="input-group mb-3">
              <!-- <span class="input-group-text" id="country-code">Country Code</span> -->
              <select class="form-select" id="input-country-code" name="companyCountryCode">
                <option value="+60">+60</option>
                <option value="+65">+65</option>
              </select>
              <input type="tel" class="form-control w-75" placeholder="Your Answer" name="companyPhoneNumber"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);" data-question="4" disabled />
            </div>
          </div>
          <div class="list-gap">
            <div class="fs-5">Working in Singapore <span style="color:red;padding-left:0.25rem">*</span></div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="workinginsingapore" value="Yes" id="option14" >
              <label class="form-check-label" for="option14">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="workinginsingapore" value="No" id="option15" checked="">
              <label class="form-check-label" for="option15">
                No
              </label>
            </div>
          </div>
          <div class="list-gap">
            <div class="fs-5">Company Address <span style="color:red;padding-left:0.25rem">*</span></div>
            <div class="fs-6" style="padding-top:8px">Lot, Street
            </div>
            <div class="abc">
              <div class="def">
                <input class="form-control" name="companyAddress" placeholder="Your Answer" required data-question="5"
                  disabled />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="postcode" class="form-label">Postcode</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="companyPostcode" name="companyPostcode" placeholder="E.g. 55300" data-question="5" disabled />
                </div>
              </div>
              <div class="col">
                <label for="city" class="form-label">City</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="companyCity" name="companyCity" placeholder="" data-question="5" disabled />
                </div>
              </div>
              <div class="col">
                <label for="state" class="form-label">State</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="companyState" name="companyState" placeholder="" data-question="5" disabled />
                </div>
              </div>
            </div> 
          </div>
          <div class="list-gap">
            <div class="fs-5">When You Join the Company <span style="color:red;padding-left:0.25rem">*</span></div>
            <input class="form-control date-picker" id="monthYearPicker" type="month" name="whenJoinedCompany" placeholder="Select DateTime"
              data-question="6" disabled />
          </div>
          <div class="list-gap">
            <p class="fs-6">Gross Salary has to be more than Net Salary</p>
            <div class="fs-5">Net Salary<span style="color:red;padding-left:0.25rem">*</span></div>
            <div class="abc">
              <div class="def">
                <div class="input-group mb-3">
                  <span class="input-group-text block">RM</span>
                  <input class="form-control" data-question="7" type="number" name="netSalary">
                  <span class="input-group-text block">.</span>
                  <input class="form-control" type="number" name="netSalaryDecimal" maxlength="2" max="99">
                </div>
              </div>
            </div>
          </div>
          <div class="list-gap">
            <div class="fs-5">Gross Salary <span style="color:red;padding-left:0.25rem">*</span></div>
            <div class="abc">
              <div class="def">
                <div class="input-group mb-3">
                  <span class="input-group-text block">RM</span>
                  <input class="form-control" data-question="7" type="number" name="grossSalary">
                  <span class="input-group-text block">.</span>
                  <input class="form-control" type="number" name="grossSalaryDecimal" maxlength="2" max="99">
                </div>
                <p class="fs-5">Have EPF?</p>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="epfGross" value="Yes" checked="" id="optionEFPyes">
                  <label class="form-check-label" for="optionEFPyes">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="epfGross" value="No" id="optionEFPno">
                  <label class="form-check-label" for="optionEFPno">
                    No
                  </label>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="list-gap">
            <div class="fs-5">Salary Term <span style="color:red;padding-left:0.25rem">*</span></div>
            <div style="font-size:14px;padding-top:8px">Which day of the month is your salary issue
            </div>
            <div class="abc">
              <div class="def">
                <select name="salaryTerm" class="form-select" data-question="8" disabled>
                  <option value=""></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7">
                <hr style="height: 5px;background-color: black;opacity: 1;" class="rounded">
            </div>
            <div class="col-sm-5 text-center">
                <h2 class="fw-bold">Bank Information</h2>
            </div>
          </div>
          <div class="list-gap">
            <div class="fs-5">Name of the Bank <span style="color:red;padding-left:0.25rem">*</span></div>
            <div class="fs-6" style="padding-top:8px">Which bank are you using?</div>
            <div class="abc">
              <div class="def">
                <select name="bankName" class="form-select" data-question="10" disabled>
                  <option></option>
                  <optgroup label="A">
                    <option value="AFFIN BANK BERHAD">AFFIN BANK BERHAD</option>
                    <option value="ARGOBACK">ARGOBACK</option>
                    <option value="AL-RAJHI BANKING&INVESTMENT CORP (M) BHD">AL-RAJHI
                      BANKING&INVESTMENT CORP (M) BHD</option>
                    <option value="ALLIANCE BANK MALAYSIA BERHAD">ALLIANCE BANK MALAYSIA BERHAD
                    </option>
                    <option value="AMBANK/AMMFINANCE BERHAD">AMBANK/AMMFINANCE BERHAD</option>
                  </optgroup>
                  <optgroup label="B">
                    <option value="BANHKOK BANK BERHAD">BANHKOK BANK BERHAD</option>
                    <option value="BANK ISLAM MALAYSIA BERHAD">BANK ISLAM MALAYSIA BERHAD
                    </option>
                    <option value="BANK OF AMERICA (MALAYSIA) BHD">BANK OF AMERICA (MALAYSIA)
                      BHD</option>
                    <option value="BANK OF CHINA (MALAYSIA) BERHAD">BANK OF CHINA (MALAYSIA)
                      BERHAD</option>
                    <option value="BANK SIMPANAN NASIONAL BERHAD">BANK SIMPANAN NASIONAL BERHAD
                    </option>
                    <option value="BIGPAY EWALLET">BIGPAY EWALLET</option>
                    <option value="BNP PARIBAS MALAYSIA BERHAD">BNP PARIBAS MALAYSIA BERHAD
                    </option>
                  </optgroup>
                  <optgroup label="C">
                    <option value="CHINA CONSTRUCTION BANK (MALAYSIA) BERHAD">CHINA CONSTRUCTION
                      BANK (MALAYSIA) BERHAD</option>
                    <option value="CIMB BANK BERHAD">CIMB BANK BERHAD</option>
                    <option value="CITIBANK">CITIBANK</option>
                  </optgroup>
                  <optgroup label="D">
                    <option value="DEUTSCHE BANK (MALAYSIA) BERHAD">DEUTSCHE BANK (MALAYSIA)
                      BERHAD</option>
                  </optgroup>
                  <optgroup label="F">
                    <option value="FINEXUS CARDS SND BHD">FINEXUS CARDS SND BHD</option>
                  </optgroup>
                  <optgroup label="H">
                    <option value="HONG LEONG BANK">HONG LEONG BANK</option>
                    <option value="HSBC BANK MALAYSIA BERHAD">HSBC BANK MALAYSIA BERHAD</option>
                  </optgroup>
                  <optgroup label="I">
                    <option value="INDUSTRIAL AND COMMERCIAL BANK OF CHINA">INDUSTRIAL AND
                      COMMERCIAL BANK OF CHINA</option>
                  </optgroup>
                  <optgroup label="J">
                    <option value="J.P MORGAN CHASE BANK BERHAD">J.P MORGAN CHASE BANK BERHAD
                    </option>
                  </optgroup>
                  <optgroup label="K">
                    <option value="KUWAIT FINANCE HOUSE (MALAYSIA) BERHAD">KUWAIT FINANCE HOUSE
                      (MALAYSIA) BERHAD</option>
                  </optgroup>
                  <optgroup label="M">
                    <option value="MAYBANK BERHAD">MAYBANK BERHAD</option>
                    <option value="MBSB BANK BERHAD">MBSB BANK BERHAD</option>
                    <option value="MIZUHO BANK (MALAYSIA) BERHAD">MIZUHO BANK (MALAYSIA) BERHAD
                    </option>
                    <option value="MUFG BANK (MALAYSIA) BERHAD">MUFG BANK (MALAYSIA) BERHAD
                    </option>
                  </optgroup>
                  <optgroup label="O">
                    <option value="OCBC BANK (M) BHD/OCBC AL-AMIN BANK BHD">OCBC BANK (M)
                      BHD/OCBC AL-AMIN BANK BHD</option>
                  </optgroup>
                  <optgroup label="P">
                    <option value="PUBLIC BANK/PUBLIC FINANCE BERHAD">PUBLIC BANK/PUBLIC FINANCE
                      BERHAD</option>
                  </optgroup>
                  <optgroup label="R">
                    <option value="RHB BANK BERHAD">RHB BANK BERHAD</option>
                  </optgroup>
                  <optgroup label="S">
                    <option value="STANDART CHARTERED BANK MALAYSIA BERHAD">STANDART CHARTERED
                      BANK MALAYSIA BERHAD</option>
                    <option value="SUMITOMO MITSUI BANKING CORP MSIA BHD">SUMITOMO MITSUI
                      BANKING CORP MSIA BHD</option>
                  </optgroup>
                  <optgroup label="U">
                    <option value="UNITED OVERSEAS BANK (MALAYSIA) BERHAD">UNITED OVERSEAS BANK
                      (MALAYSIA) BERHAD</option>
                  </optgroup>
                </select>
              </div>
            </div>
          </div>
          <div class="list-gap">
            <div class="fs-5">Bank Account Number <span style="color:red;padding-left:0.25rem">*</span></div>
            <div class="fs-6" style="padding-top:8px">Bank account number (without Dash)</div>
            <div class="abc">
              <div class="def">
                <input class="form-control" placeholder="Your Answer" type="text" name="bankAccountNumber"
                  data-question="11" disabled>
              </div>
            </div>
          </div>
          <div class="list-gap">
            <div class="fs-5">Type of Account <span style="color:red;padding-left:0.25rem">*</span></div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="typeOfAccount" value="Saving" id="option16"
                onchange="typeOfAccount('option16')">
              <label class="form-check-label" for="option16">
                Saving
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="typeOfAccount" value="Current" id="option17"
                onchange="typeOfAccount('option17')">
              <label class="form-check-label" for="option17">
                Current
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="typeOfAccount" value="Other" id="option18"
                onchange="typeOfAccount('option18')">
              <label class="form-check-label" for="option18">
                Other
              </label>
            </div>
            <input type="text" name="typeOfAccountOther" class="form-control typeOfAccount">
          </div>
          <div class="list-gap">
            <div class="fs-5">Best Time of Contact</div>
            <div class="fs-6" style="padding-top:8px">For us to contact you in times of need</div>
            <div class="input-group mb-3">
              <select class="form-select" id="inputGroupSelect01" name="bestContactTime" data-question="13" disabled>
                <option></option>
                <option value="8am to 12pm">8am to 12pm</option>
                <option value="12pm to 4pm">12pm to 4pm</option>
                <option value="4pm to 8pm">4pm to 8pm</option>
                <option value="8pm to 12am">8pm to 12am</option>
                <option selected value="Anytime">Anytime</option>
              </select>
            </div>
          </div>
          <div class="list-gap">
            <div class="fs-5">Motorcycle License <span style="color:red;padding-left:0.25rem">*</span></div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="motorLicense" value="No" id="option19"
                onchange="checkLicense('option19')">
              <label class="form-check-label" for="option19">
                No License
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="motorLicense" value="Yes" id="option20"
                onchange="checkLicense('option20')">
              <label class="form-check-label" for="option20">
                Has License
              </label>
            </div>
            <select name="licenseType" class="form-select licenseType">
              <option value="B">B</option>
              <option value="B1">B1</option>
              <option value="B2">B2</option>
              <option value="C">C</option>
            </select>
            <input type="text" name="licenseType" class="form-control licenseType"
              placeholder="What is your license type">
          </div>
          <div class="list-gap">
            <div class="fs-5">How do you know Motosing</div>
            <div class="input-group mb-3">
              <select class="form-select" id="inputGroupSelect01" name="howToKnowMotosing">
                <option selected></option>
                <option value="Google">Google</option>
                <option value="Facebook">Facebook</option>
                <option value="Instagram">Instagram</option>
                <option value="Telegram">Telegram</option>
                <option value="Friends">Friends</option>
                <option value="Tiktok">Tiktok</option>
                <option value="Youtube">Youtube</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
          <div class="gap-2 d-md-block btn-container">
            <div>
              <button class="btn btn-primary" onclick="previousPage()" type="button">Previous Page</button>
              <a href="#" style="color:white;text-decoration:none"><button class="btn btn-danger"
                  type="submit">Submit</button></a>
            </div>
            <div>
              <a href="#" style="color:white;text-decoration:none"><button class="btn btn-green" type="button">Whatsapp
                  Us</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
    // Datepicker
    flatpickr("input[type=datetime-local]", {});
    $(document).ready(function() {
      $('#monthYearPicker').datepicker({
        format: 'yyyy-mm',
        viewMode: 'months',
        minViewMode: 'months'
      });
    });
    // This Section for dropdown list, when OTHER is picked, show another box
    let employmentStatus = document.getElementById("employment-status");
    let addbox0 = document.getElementById('container-for-employed');
    let option0 = document.getElementById('option0');
    let option1 = document.getElementById('option1');
    let addbox1 = document.getElementById('container-for-self-employed');
    let option2 = document.getElementById('option2');
    let option3 = document.getElementById('option3');
    let addbox2 = document.getElementById('container-for-other-self-employed-status');
    let othercontainer0 = document.getElementById('other-container0');
    let option4 = document.getElementById('option4');
    let option5 = document.getElementById('option5');
    let option6 = document.getElementById('option6');
    let option7 = document.getElementById('option7');
    let option8 = document.getElementById('option8');
    let othercontainer1 = document.getElementById('other-container1');
    let addbox3 = document.getElementById('container-for-other-employment-status');
    let addbox4 = document.getElementById('container-for-other-income-source');
    function required() {
      option0.required = false;
      option1.required = false;
      option2.required = false;
      option3.required = false;
      option4.required = false;
      option5.required = false;
      option6.required = false;
      option7.required = false;
      option8.required = false;
    }

    employmentStatus.addEventListener('change', () => {
      if (employmentStatus.value === "employed") {
        addbox0.classList.remove('d-none');
        addbox1.classList.add('d-none');
        option0.required = true;
        option1.required = true;
      } else if (employmentStatus.value === "self-employed") {
        addbox1.classList.remove('d-none');
        addbox0.classList.add('d-none');
        option2.required = true;
        option3.required = true;
        option4.required = true;
      } else if (employmentStatus.value === "other") {
        addbox0.classList.add('d-none');
        addbox1.classList.add('d-none');
        addbox3.classList.remove('d-none');
        option5.required = true;
        option6.required = true;
        option7.required = true;
        option8.required = true;
      } else {
        addbox0.classList.add('d-none');
        addbox1.classList.add('d-none');
        addbox3.classList.add('d-none');
        required();
      }
    })
    option0.addEventListener('click', () => {
      option1.required = false;
    })
    option1.addEventListener('click', () => {
      option0.required = false;
    })
    option2.addEventListener('click', () => {
      option3.required = false;
      option4.required = false;
      addbox2.classList.add('d-none');
      othercontainer0.required = false;
    })
    option3.addEventListener('click', () => {
      option2.required = false;
      option4.required = false;
      addbox2.classList.add('d-none');
      othercontainer0.required = false;
    })
    option4.addEventListener('click', () => {
      option2.required = false;
      option3.required = false;
      addbox2.classList.remove('d-none');
      othercontainer0.required = true;
    })
    option5.addEventListener('click', () => {
      option6.required = false;
      option7.required = false;
      option8.required = false;
      addbox3.classList.remove('d-none');
      othercontainer1.required = false;
      addbox4.classList.add('d-none');
    })
    option6.addEventListener('click', () => {
      option5.required = false;
      option7.required = false;
      option8.required = false;
      addbox3.classList.remove('d-none');
      othercontainer1.required = false;
      addbox4.classList.add('d-none');
    })
    option7.addEventListener('click', () => {
      option5.required = false;
      option6.required = false;
      option8.required = false;
      addbox3.classList.remove('d-none');
      othercontainer1.required = false;
      addbox4.classList.add('d-none');
    })
    option8.addEventListener('click', () => {
      option5.required = false;
      option6.required = false;
      option7.required = false;
      addbox3.classList.remove('d-none');
      othercontainer1.required = true;
      addbox4.classList.remove('d-none');
    })

    const checkLicense = (id) => {
      const licenseType = document.querySelector('.form-select.licenseType');
      id === 'option20' ? licenseType.style.display = 'block' : licenseType.style.display = 'none'
    }

    const typeOfAccount = (id) => {
      const button = document.querySelector('.form-control.typeOfAccount');
      id === 'option18' ? button.style.display = 'block' : button.style.display = 'none'
    }

    const checkValue = (e) => {
      const inputBar = document.querySelector('.form-control.others')
      e.target.value === 'other' ? inputBar.style.display = 'block' : inputBar.style.display = 'none'
    }

    let questions = document.querySelectorAll("input[data-question], select[data-question]")
    questions.forEach((question) => {
      question.addEventListener('change', (event) => {
        let currentQuestion = parseInt(event.target.getAttribute('data-question'));
        let currentQuestionAnswer = event.target.value
        questions.forEach((input) => {
          let questionNum = parseInt(input.getAttribute('data-question'))
          if (questionNum - currentQuestion > 2 && input.value == '') {
            input.disabled = true
          } else {
            input.disabled = false
          }
        })
      })
    })
    // Add an event listener to the form
    document.getElementById('myForm').addEventListener('keypress', function (event) {
            // Check if the pressed key is Enter (key code 13)
            if (event.keyCode === 13) {
                event.preventDefault(); // Prevent the default form submission action
            }
        });

    function previousPage(){
      history.back()
    } 

    const postcodeInput = document.getElementById('companyPostcode') 
    const stateInput = document.getElementById('companyState') 
    const cityInput = document.getElementById('companyCity') 

    postcodeInput.addEventListener('change', function() {
        var postcode = postcodeInput.value;

        var apiUrl = `https://nominatim.openstreetmap.org/search?postalcode=${postcode}&countrycodes=my&format=json`;

        fetch(apiUrl)
            .then(response => response.json().then(data => {
                console.log(data)
                if (data.length > 0) {
                    var display_name  = data[0].display_name.split(', ')
                    if(display_name.length == 1) {
                        console.error("Invalid post code")
                    }
                    else {
                        console.log(display_name)
                        var state = display_name[ display_name.length - 3 ];
                        var city = display_name[0];
                        stateInput.value = state;
                        cityInput.value = city;
                    }
                } else {
                    console.error('No results found.');
                }
            }))
            .catch(error => console.error('Error:', error));
    })
  </script>
</body>
</html>